* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(bg.jpeg);
  background-size: cover;
    background-position: center;
    color: #070303;
    text-align: center;
    padding: 450px 400px;
}


.todler {
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 38%;
  right: 50%;
  opacity: 100; 
  animation: fadeInUp 2s forwards; 
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.container {
  width: 100%;
  background-color: #ea202e;
  background-image: linear-gradient(to right bottom, rgb(255, 238, 0), rgb(233, 4, 4) );
  padding: 50px 40px;
  box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
  position: relative;
  border-radius: 8px;
  text-align: center;
  animation: pulseBackground 1s ease-in-out infinite;
}

@keyframes pulseBackground {
  0%, 100% {
    background-color: #ea202e;
  }
  50% {
    background-color: #ff6f6f;
  }
}

.container p {
  color: #fdd8d8;
  line-height: 2;
  font-size: 18px;
}
.container h3 {
  color: #ffffff;
  margin: 20px 0 60px 0;
  font-weight: 600;
  text-transform: capitalize;
}
.container button {
  background-color: #ffffff;
  border: none;
  padding: 15px 45px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #f43543;
  cursor: pointer;
}

.container button:hover {
  background-color: #f43543;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
